Copyjob-Test/sample_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ParquetSource",
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": false,
              "wildcardFileName": "*.parquet"
            },
            "formatSettings": {
              "type": "ParquetReadSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "AzureBlobStorageLocation",
                  "container": "holidaydatacontainer",
                  "folderPath": "Processed"
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "public_holidays",
                "properties": {
                  "type": "AzureBlobStorage",
                  "typeProperties": {
                    "authenticationType": "Anonymous",
                    "containerUri": "https://azureopendatastorage.blob.core.windows.net/holidaydatacontainer"
                  }
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "Append",
            "applyVOrder": false,
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "holidaydatacontainer"
              },
              "schema": [],
              "linkedService": {
                "name": "datafactory_lakehous",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "fa3c6337-2694-b9ef-41bd-a221463ccbdf",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data1",
        "dependsOn": []
      },
      {
        "type": "Office365Email",
        "typeProperties": {
          "body": "@concat(\n  'RunID = ', pipeline().RunId,\n  '; Copied rows = ', activity('Copy data1').output.dataWritten,\n  '; Throughput = ', activity('Copy data1').output.throughput\n)",
          "to": "odl_user_2189793@sandboxailabs1015.onmicrosoft.com",
          "subject": {
            "value": "@concat('DI in an Hour Pipeline Succeeded with Pipeline Run Id',pipeline().RunId)",
            "type": "Expression"
          }
        },
        "externalReferences": {
          "connection": "02399cf7-8d07-43b6-9c16-2a6b87155733"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Office365Email1",
        "dependsOn": [
          {
            "activity": "Dataflow1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "148021a1-a558-8192-4d3e-b59bdb13a8a3",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Dataflow1",
        "dependsOn": [
          {
            "activity": "Copy data1",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ]
  }
}